---
layout: default
---

<div class="container">

    <div class="row">
        <div class="col-sm-8">
	    <h2 class="header-light regular-pad">Maxime Borry</h2>
	    <h4>
            Bioinformatics PhD student in ancient DNA metagenomics <br>
            <a href="https://shh.mpg.de">Max Planck Institute for the Science of Human History</a>
        </h4>
	    <p>
            I am a data scientist focused on Bioinformatics.
            <br>
            After an undergraduate degree in biology that allowed to explore both the world of the ecology and computer science, I first decided to dive in the studies of population and our environment.
            <br>
            Only after realizing I wanted to focus more on the statistical part and the data analysis, I switched back to a Bioinformatics MSc.
            <br>
            Now doing a PhD at the Max Planck institute in Germany, I'm focusing on tools and software development for the analysis of ancient DNA metagenomics data.</p>
	    <br>
	    <a href="https://www.twitter.com/notmaxib" target="_blank"><li class="fa fa-fw fa-2x fa-twitter"></li></a>
	    <a href="https://www.github.com/maxibor" target="_blank"><li class="fa fa-fw fa-2x fa-github"></li></a>
	    <a href="https://www.linkedin.com/in/maximeborry" target="_blank"><li class="fa fa-fw fa-2x fa-linkedin"></li></a>
        </div>
        <div class="col-sm-4 text-center">
	    <br>
            <img src="{{ "/img/profile_picture.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Maxime Borry">
	    <br>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></h1>
            <h3 class="text-center">Latest Blog Posts</h3>
                <ul class="post-list-container">
                    {% for post in site.posts limit:5 %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> on {{ post.date | date_to_long_string }}</li>
                    {% endfor %}
                </ul>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-pencil" aria-hidden="true"></i></h1>
            <h3 class="text-center">Latest Publications</h3>
            <ul class="post-list-container">
		{% assign items = site.papers | reverse %}
                {% for post in items limit:3 %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> on {{ post.date | date_to_long_string }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-rss-square" aria-hidden="true"></i></h1>
            <h3 class="text-center">Latest News</h3>
            <ul class="post-list-container">
		{% assign items = site.news | reverse %}
                {% for post in items limit:5 %}
                <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> on {{ post.date | date_to_long_string}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


</div>
